

.form-horizontal h3 {
    text-align: center;
}

.form-horizontal {
    padding-right: 20px;
    padding-left:20px;
}

.title-hd {
    display: flex;
    justify-content: center;
}

    .title-hd p {
        
        padding-right: 20px;
    }