
@{
    ViewBag.Title = "PhanPhoiSanPham";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.Name = "Phân phối sản phẩm";
    ViewBag.qlk = "active";
}

<h2>PhanPhoiSanPham</h2>

