
@{
    ViewBag.Title = "PhanPhoiSanPham";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.Name = "Phân phối sản phẩm";
    ViewBag.qlk = "active";
    ViewBag.hieuung2 = "bx-tada";
}

<div class="tile">
    <h2>Tính năng sắp ra mắt</h2>
</div>


