
@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.aQLNV = "active";
    ViewBag.Name = "Thêm sản phẩm";
}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <script>

    function readURL(input, thumbimage) {
      if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#thumbimage").attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
      else { // Sử dụng cho IE
        $("#thumbimage").attr('src', input.value);

      }
      $("#thumbimage").show();
      $('.filename').text($("#uploadfile").val());
      $('.Choicefile').css('background', '#14142B');
      $('.Choicefile').css('cursor', 'default');
      $(".removeimg").show();
      $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
      $(".Choicefile").bind('click', function () {
        $("#uploadfile").click();

      });
      $(".removeimg").click(function () {
        $("#thumbimage").attr('src', '').hide();
        $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
        $(".removeimg").hide();
        $(".Choicefile").bind('click', function () {
          $("#uploadfile").click();
        });
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'pointer');
        $(".filename").text("");
      });
    })
    </script>
</head>

<body class="app sidebar-mini rtl">
    <style>
        .Choicefile {
            display: block;
            background: #14142B;
            border: 1px solid #fff;
            color: #fff;
            width: 150px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 0px;
            border-radius: 5px;
            font-weight: 500;
            align-items: center;
            justify-content: center;
        }

            .Choicefile:hover {
                text-decoration: none;
                color: white;
            }

        #uploadfile,
        .removeimg {
            display: none;
        }

        #thumbbox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .removeimg {
            height: 25px;
            position: absolute;
            background-repeat: no-repeat;
            top: 5px;
            left: 5px;
            background-size: 25px;
            width: 25px;
            /* border: 3px solid red; */
            border-radius: 50%;
        }

            .removeimg::before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                content: '';
                border: 1px solid red;
                background: red;
                text-align: center;
                display: block;
                margin-top: 11px;
                transform: rotate(45deg);
            }

            .removeimg::after {
                /* color: #FFF; */
                /* background-color: #DC403B; */
                content: '';
                background: red;
                border: 1px solid red;
                text-align: center;
                display: block;
                transform: rotate(-45deg);
                margin-top: -2px;
            }
    </style>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Thêm mới sản phẩm</h3>
                    <div class="tile-body">
                        <form class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Mã sản phẩm</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Tên sản phẩm</label>
                                <input class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Đơn vị tính</label>
                                <input class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Số lượng nhập vào</label>
                                <input class="form-control" type="number" required>
                            </div>
                            <div class="form-group  col-md-4">
                                <label class="control-label">Ngày sản xuất</label>
                                <input class="form-control" type="date" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Hạn sử dụng</label>
                                <input class="form-control" type="date">
                            </div>
                            <div class="form-group  col-md-3">
                                <label class="control-label">Tình trạng</label>
                                <input class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Mô tả sản phẩm</label>
                                <input class="form-control" type="text" required>
                            </div>
                            @*<div class="form-group col-md-3">
            <label class="control-label">Ngày cấp</label>
            <input class="form-control" type="date" required>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Nơi cấp</label>
            <input class="form-control" type="text" required>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Giới tính</label>
            <select class="form-control" id="exampleSelect2" required>
                <option>-- Chọn giới tính --</option>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>

        <div class="form-group  col-md-3">
            <label for="exampleSelect1" class="control-label">Chức vụ</label>
            <select class="form-control" id="exampleSelect1">
                <option>-- Chọn chức vụ --</option>
                <option>Bán hàng</option>
                <option>Tư vấn</option>
                <option>Dịch vụ</option>
                <option>Thu Ngân</option>
                <option>Quản kho</option>
                <option>Bảo trì</option>
                <option>Kiểm hàng</option>
                <option>Bảo vệ</option>
                <option>Tạp vụ</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Bằng cấp</label>
            <select class="form-control" id="exampleSelect3">
                <option>-- Chọn bằng cấp --</option>
                <option>Tốt nghiệp Đại Học</option>
                <option>Tốt nghiệp Cao Đẳng</option>
                <option>Tốt nghiệp Phổ Thông</option>
                <option>Chưa tốt nghiệp</option>
                <option>Không bằng cấp</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Tình trạng hôn nhân</label>
            <select class="form-control" id="exampleSelect2">
                <option>-- Chọn tình trạng hôn nhân --</option>
                <option>Độc thân</option>
                <option>Đã kết hôn</option>
                <option>Góa</option>
                <option>Khác</option>
            </select>
        </div>
*@
                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh sản phẩm</label>
                                <div id="myfileupload">
                                    <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                </div>
                                <div id="thumbbox">
                                    <img height="300" width="300" alt="Thumb image" id="thumbimage" style="display: none" />
                                    <a class="removeimg" href="javascript:"></a>
                                </div>
                                <div id="boxchoice">
                                    <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                                    <p style="clear:both"></p>
                                </div>

                            </div>
                        </form>
                    </div>
                    <button class="btn btn-save" type="button">Thêm sản phẩm</button>
                    <a class="btn btn-cancel" href="QuanLyDL">Hủy bỏ</a>
                </div>
            </div>
        </div>

    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>

</body>

</html>

