@model IEnumerable<Test02.Models.DonHang>
@using Test02.Models;
@{
    ViewBag.Title = "BaoCaoLyDoHoanDon";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_bcldh = "active";
    ViewBag.nd = "Lý do hoàn đơn";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ctdh = db.ChiTietDonHangs.ToList();
}

<h2>BaoCaoLyDoHoanDon</h2>

