
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/KhachHang/Layout/_LayoutKhachHang.cshtml";
    ViewBag.nd = "Trang liên hệ";
    ViewBag.lh = "active";
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">THÔNG TIN DOANH NGHIỆP</h3>
            <div class="tile-body table-responsive">
                <div>Số điện thoại: </div>
                <div>Email: </div>
            </div>
        </div>
    </div>
</div>
