
@{
    ViewBag.Title = "PageSanPham";
    Layout = "~/Views/KhachHang/Layout/_LayoutKhachHang.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">DANH SÁCH SẢN PHẨM</h3>
            <div class="tile-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola</h4>
                                <p><b>Mã sản phẩm: #CA23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Sting </h4>
                                <p><b>Mã sản phẩm: #ST23089</b></p>
                                <p><span class="badge bg-info">Còn hàng</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="widget-small primary coloured-icon">
                            <img src="/images/customerApp.png" style="height: 100px ; width: 100px;" alt="">
                            <div class="info">
                                <h4>Coca Cola Zero sugar</h4>
                                <p><b>Mã sản phẩm: #CS24389</b></p>
                                <p><span class="badge bg-danger">Sắp hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

