.modal-name{
    padding:10px 0px 0px 0px;
    text-align:center;
    font-size:18px;
    font-weight:600;
}
.confirmation-dh {
    padding:0px 10px;
    font-size:18px;

}
.confirmation-dh span{
    font-weight:600;
}