
@{
    ViewBag.Title = "createHDGTGT";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.hd = "active";
    ViewBag.nd = "Tạo hóa đơn GTGT";
}

<div class="tile">
    <div class="tile-body">
        <h3 style="text-align:center">HÓA ĐƠN GIÁ TRỊ GIA TĂNG</h3>
        <form style="text-align:center">
            <label for="date">Ngày:</label>
            <input type="date" id="clock" class="date" name="ngay"><br>
            <label for="number">Mã số:</label>
            <input type="number" id="number" name="maso"> <br>
        </form>
        <form class="row">
            <div class="form-group col-md-12">
                <label class="control-label">Tên Đại lý tiếp nhận: </label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Mã số thuế: </label>
                <input class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Địa chỉ:</label>
                <input class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Hình thức thanh toán:</label>
                <input class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Số tài khoản: </label>
                <input class="form-control" type="text" required>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Danh sách sản phẩm cần xuất:</label>
                <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn vị tính</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="1" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                        </tr>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="2"required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" " required></td>
                        </tr>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="3"required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" " required></td>
                        </tr>
                        <tr>
                            <td><input class="form-control" type="text" placeholder="4" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text" required></td>
                            <td><input class="form-control" type="text"  required></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group  col-md-12">
                <label class="control-label">Tổng số tiền (viết bằng chữ):</label>
                <input class="form-control" type="text" required>
            </div>
        </form>
        <button class="btn btn-save" type="button">Lưu phiếu</button>
        <a class="btn btn-cancel" href="~/KeToan/QLHoaDon">Hủy bỏ</a>
    </div>
</div>

