
@{
    ViewBag.Title = "TrangChuKeToan";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.homekt = "active";
    ViewBag.nd = "Trang chủ";
}

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Tổng quan hóa đơn</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID Hóa đơn</th>
                        <th>Tên Đại lý</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HD101</td>
                        <td>Mai Ngọc</td>
                        <td>
                            19.770.000 đ
                        </td>
                    </tr>
                    <tr>
                        <td>HD101</td>
                        <td>Nguyễn Thị Mỹ Yến</td>
                        <td>
                            16.770.000 đ
                        </td>
                      
                    </tr>
                    <tr>
                        <td>HD102</td>
                        <td>Triệu Thanh Phú</td>
                        <td>
                            9.400.000 đ
                        </td>
              
                    </tr>
                    <tr>
                        <td>HD103</td>
                        <td>Đặng Hoàng Phúc	</td>
                        <td>
                            40.650.000 đ
                        </td>
                   
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>



